PORT=3000

# Meta Webhook Verify Token (lo inventas tú y lo pones igual en Meta)
VERIFY_TOKEN=condobot_verify_713

# Meta Cloud API
WHATSAPP_TOKEN=EAAaZAGAfG608BQeJnrmCsDcJuITSv5YKLkgtjprjG2ypFZCyR5ESi9inpHtusF0lazg3MmWNUmfPFnyyXaUqZCecHvu4grMA03HedsYV1xYdkNOiYJuZAMJcXcl6o75EvzMZA7yG5jFXk9vwJ24jale9dOgyABUXZBjVLq1ZBfI4wsldGh9INJJutMeaLaK4FKZCpJ70Rrbl5nItZBwikRzfP3WQPwGJ5FTzE7Phh
PHONE_NUMBER_ID=865181056686380

# Para validar firma del webhook
APP_SECRET=f04b49bd1958704cf49c51f71e667711
