PORT=3000

# Meta Webhook Verify Token (lo inventas tú y lo pones igual en Meta)
VERIFY_TOKEN=condobot_verify_713

# Meta Cloud API
WHATSAPP_TOKEN=EAAaZAGAfG608BQaRVps9mmW9ujXhF8GEdSSiHnqAWyKmtKxNIV0DPExKPOfBROZB8jdSMu5MbI8ceyjJBwwYZCPl0dnbk3qGXdcBZC9ZB8MS5gJjyCikleZBOaMbFWZAsmTnqqe7sP8x3temqiWcQXdRMewIBsZCc7h89hjz3LBaZCENAXbBqikDFjl7jcQi5BosS3NxkQ6ZC175LSTn4OZCnd0UreVZAD3iaC21lJzLURC16AKZCSdZCbJ1wz4Bm4OBZCugu8PZAeZBiZAnwkuPxW393VDVVZBZBBw5t5sIxdUZD
PHONE_NUMBER_ID=865181056686380

# Para validar firma del webhook
APP_SECRET=f04b49bd1958704cf49c51f71e667711
